<?xml version="1.0" encoding="utf-8"?>
<launch>

    <param name="/use_sim_time" value="true"/>

    <param name="robot_description" command="$(find xacro)/xacro '$(find beltwagon_description)/urdf/bw_robo.xacro'"/>
    <arg name="robot_name" default="bw_robo"/>

    <!--<arg name="map_file" default="$(find my_mapping_launcher)/config/my_map.yaml"/>-->
    <arg name="open_rviz" default="true"/>
    <arg name="move_forward_only" default="false"/>

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find turtlebot3_navigation)/maps/map.yaml" />
      <param name="frame_id" type="str" value="/map"  />
    <node pkg="tf" type="static_transform_publisher" name="odom_to_map"
    args="0.1 0  0 0  0 0  /map /odom 100" />

    <!-- Properties of each robot      -->
    
    <!-- AMCL      -->

    <include file="$(find my_localizer_launcher)/launch/my_localizer.launch" />

    <!-- move_base -->
    <include file="$(find move_base_launcher)/launch/move_base.launch">
      <!--<arg name="bw_robo" value="$(arg bw_robo)" />-->
      <!--<arg name="move_forward_only" value="$(arg move_forward_only)"/>-->
    </include>

    <!-- send fake joint values -->   
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="TRUE"/>
    </node>

    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
   
    <!-- Show in Rviz   -->
    <!--<node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen"/>-->
    <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required ="true" args ="-d $(find my_mapping_launcher)/rviz/navigation.rviz"/>
    </group>

</launch>
