<?xml version="1.0" encoding="utf-8"?>
<launch>

    <param name="/use_sim_time" value="true"/>

    <param name="robot_description" command="$(find xacro)/xacro '$(find beltwagon_description)/urdf/bw_robo.xacro'"/>
    <arg name="robot_name" default="bw_robo"/>

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find turtlebot3_navigation)/maps/map.yaml" />
      <param name="frame_id" type="str" value="/map"  />
    <node pkg="tf" type="static_transform_publisher" name="odom_to_map"
    args="0.1 0  0 0  0 0  /map /odom 100" />

    <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen"/>

</launch>
