<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="world_file"     default="YOUR_PATH_TO_A_WORLD_FILE"/>
    <arg name="gui" default="true"/>
    <arg name="initial_pose_x" default="0.0"/>
    <arg name="initial_pose_y" default="0.0"/>
    <arg name="initial_pose_a" default="0"/>
    <arg name="robot_name" default="A_DEFAULT_ROBOT_NAME"/>
    <param name="/use_sim_time" value="true"/>

        <!--  ******************** Gazebo ********************  -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="world_name" value="$(arg world_file)"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>


<!-- Set different initial poses to avoid collision when spawning the model -->
    <group ns="bw_robo">
      <param name="tf_prefix" value="bw_robo_tf" />
      <include file="$(find beltwagon_description)/launch/spawn.launch">
         <arg name="initial_pose_x" value="0.0"/>
         <arg name="robot_name" value="bw_robo"/>
      </include>  
    </group>

    <group ns="mc_robo">
      <param name="tf_prefix" value="mc_robo_tf" />
      <include file="$(find mc_moveit_config)/launch/spawn.launch">
         <arg name="initial_pose_x" value="0.0"/>
         <arg name="robot_name" value="mc_robo"/>
      </include>
    </group>    

</launch>
