<?xml version="1.0" encoding="utf-8"?>

<launch>
	<include file="$(find rplidar_ros)/launch/multiple.launch"/> 
	<!--<include file="$(find bw_moveit_config)/launch/demo.launch"/>-->
        <include file="$(find lizard_moveit_config)/launch/demo.launch"/>
	<include file="$(find beltwagon_description)/launch/goal.launch"/> 
	<include file="$(find plc_com)/launch/com.launch"/>

</launch>
