<?xml version="1.0" encoding="utf-8"?>
<launch>
    <param name="/use_sim_time" value="true"/>
  
     <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find my_mapping_launcher)/config/my_map.yaml" >
      <param name="frame_id" value="/map" />
    </node>
 
    <group ns="bw_robo">
      <param name="robot_description" command="$(find xacro)/xacro.py '$(find beltwagon_description)/urdf/bw_robo.xacro'"/>
      <arg name="robot_name" value="bw_robo"/>
    <!-- send fake joint values -->   
    
      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="TRUE"/>
      </node>
    <!-- Combine joint values -->
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    </group>
   
    <group ns="mc_robo">
      <param name="robot_description" command="$(find xacro)/xacro.py '$(find bw_moveit_config)/urdf/mc_robo.urdf'"/>
      <arg name="robot_name" value="mc_robo"/>
    <!-- send fake joint values -->   
    
      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="TRUE"/>
      </node>
    <!-- Combine joint values -->
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    </group>
   



     <!-- Show in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" respawn="false" output="screen"/>

</launch>
